* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.active {
  color: red;
}
/* Header */
header a {
  color: white;
  text-decoration: none;
}

header {
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #818181;
}

/* header .container{
    padding: 40px 0;
    /* Thuộc tính display flex giúp cho các phần tử con bên trong nằm trên cùng 1 dòng */
/* display: flex; */
/* Thuộc tính justify-content giúp căn chỉnh các thành phần con */
/* justify-content: space-between; */
/* }  */
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header__content .header__logo i {
  font-size: 40px;
}

header .header__content .header__logo span {
  font-size: 25px;
  font-weight: bold;
}
header nav ul li {
  display: inline;
  margin-right: 25px;
}
header nav ul li a {
  transition: color 0.5s;
  text-transform: uppercase;
}
header nav ul li a:hover {
  color: red;
}

.banner {
  background-image: url("../img/home_slider.jpg");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}
.banner .banner__content .sub__title {
  font-size: 25px;
}
.banner .banner__content h1 {
  font-size: 75px;
  text-align: center;
  line-height: 90px;
  margin: 20.8px 0;
}

.banner .banner__content button:hover {
  background-color: #e62b4a;
  transition: all 0.5s;
  cursor: pointer;
}

.banner .banner__content button {
  border: none;
  padding: 20px 40px;
  background-color: red;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.services {
  background-color: black;
  height: 100vh;
}

.services__title .sub__title {
  color: #e62b4a;
}

.services__title h2 {
  font-size: 40px;
  color: white;
  margin: 20px;
}

.services__title p {
  color: #888888;
}

.services__title {
  padding: 40px 0;
  text-align: center;
}

.services .services__content .service__item {
  padding: 0 15px;
  height: 200px;
}

.services .services__content .service__item .service__item__bg {
  background-color: white;
  height: 100%;
  color: #888888;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}.services .services__content .service__item .service__item__bg i{
  font-size: 40px;
  margin-bottom: 10px;
}
.services .services__content .service__item .service__item__bg p{
  text-transform: uppercase;
  text-align: center;
}
.services .services__content .service__item .service__item__bg::after {
  content: "";
  width: 5px;
  height: 0%;
  background-color: red;
  position: absolute;
  right: 0;
  top: 0;
}

.services .services__content .service__item .service__item__bg:hover::after {
  height: 100%;
  transition: all 0.5s;
}

.services .slick-dots li button:before {
  color: white;
  font-size: 14px;
}

.services .slick-dots li.slick-active button:before {
  color: red;
  font-size: 14px;
}

.posts {
  padding: 40px 0;
  text-align: center;
}

.posts__title h2 {
  font-size: 40px;
}

.posts .posts__title p:last-child {
  color: #888888;
  font-weight: 700;
}

.posts .posts__title .sub__title {
  font-size: 20px;
  color: #888888;
}

.posts .posts__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* khoảng cách giữ các phần tử */
  gap: 15px;
}

.posts .posts__content .post__item img {
  width: 100%;
  height: 100%;
  filter: grayscale(0.5) contrast(0.5);
  object-fit: cover;
}

.posts .posts__content .post__item:first-child {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.posts .posts__content .post__item:nth-child(8) {
  grid-row: 3 / span 2;
  grid-column: 3 / span 2;
}

.posts .posts__content .post__item {
  position: relative;
}

.posts .posts__content .post__item .post__item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(230, 43, 74, 0.5);
  opacity: 0;
  transition: all 0.5s;
  overflow: hidden;
}

.posts .posts__content .post__item .post__item__overlay .overlay__icon {
  text-align: right;
}

.posts .posts__content .post__item .post__item__overlay .overlay__content {
  text-align: left;
  text-transform: uppercase;
}

.posts .posts__content .post__item:hover .post__item__overlay {
  opacity: 1;
}

.posts .posts__content .post__item .post__item__overlay .overlay__content h3 {
  color: white;
}

.posts .posts__content .post__item .post__item__overlay .overlay__content p {
  color: #888888;
  font-weight: 400px;
}

.posts .posts__content .post__item .post__item__overlay .overlay__icon i {
  padding: 10px;
  background-color: white;
}

.posts .post__item .overlay__icon i {
  transform: translateY(20px);
  transition: all 0.8s;
}

.posts .post__item:hover .overlay__icon i {
  transform: translateY(0);
}

.posts .post__item .overlay__content p,h3{
  translate: translateY(20px);
  transition: all 0.8s;
}

.posts .post__item:hover .overlay__content p,h3{
  transform: translateY(0);
}

/* number */
.number{
    padding: 60px 0;
    background-color: black;
    color: white;
}
.number .number__contain{
    display: flex;
    justify-content: space-evenly;
}
.number .number__contain .number__item{
    text-align: center;
}
.number .number__contain .number__item h3{
    font-size: 60px;
    font-weight: 100;
}

.number .number__contain .number__item p{
    color: #888888;
}

.exp{
    background-image: url('../img/bussiness_img_1.jpg');
    padding: 80px 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.exp .exp__title{
    text-align: center;
}
.exp .exp__title p{
    color: #e62b4a;
}
.exp .exp__title h2{
    color: white;
    font-size: 40px;
    margin: 30px;
}
.exp .exp__title p:last-child{
    color: #888888;
    margin-bottom: 30px;
}


/* Contact */
.contact{
    padding: 60px 0;
}
.contact__title{
    text-align: center;
}
.contact__title h2{
    text-transform: uppercase;
    font-size: 40px;
    padding: 20px 0;
}
.contact__title p{
    color: #888888;
    margin-bottom: 30px;
}

.contact .contact__content{
    display: flex;
    gap: 20px;
}

.contact .contact__content .contact__left{
    width: 60%;
}
.contact .contact__content .contact__right{
    width: 40%;
}

.contact .contact__content .contact__left iframe{
    width: 100%;
}
.contact .contact__content .contact__right form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.contact .contact__content .contact__right form input{
    padding: 15px;
    font-size: 18px;
}
.contact .contact__content .contact__right form textarea{
    padding: 15px;
    font-size: 18px;
}
.contact .contact__content .contact__right form button{
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    transition: all 0.5s;
}
.contact .contact__content .contact__right form button:hover{
    background-color: #e62b4a;
}


/* Footer */
footer{
  background-color: black;
  color: white;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}

.footer .footer__left ul li{
  display: inline;
  padding: 0 20px;
  
}
.footer .footer__left a{
  font-size: 18px;
  background-color: #ffffff33;
  width: 60px;
  height: 60px;
  padding: 20px;
  border-radius: 100%;
  margin-right: 10px;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}
.footer .footer__left a:hover{
  background-color: #e62b4a;
}
@keyframes arrowGoDown{
    from{
        transform: translateY(0);
        opacity: 1;
    }
    to{
        transform: translateY(50px);
        opacity: 0;
    }
}

.banner .banner__content i{
    animation-name: arrowGoDown;
    animation-duration: 1.5s;
    /* Lặp lại */
    animation-iteration-count: infinite;
    font-size: 25px;
}